:host {
	display: block;
	background-color: #000;
	box-sizing: border-box;
	margin-top: 55px;
	padding: 10px;
	--height: 160px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: dense row;
	grid-auto-rows: var(--height);
	grid-gap: 10px;
}

li {
	display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
	will-change: transform;
}

li.portrait {
	grid-row-end: span 2;
}

img {
	width: 100%;
	object-fit: cover;
	transition: 0.3s;
}

p {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #FFF;
    margin: 0;
    position: absolute;
    align-self: center;
    text-shadow: 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000,
				 0 0 2px #000;
    font-size: 3em;
}

li:after {
	display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 40px rgba(255,255,255,.2) inset;
}

@media screen and (min-width: 400px) {
	ul {
		grid-template-columns: 1fr 1fr;

	}

	li.panorama {
		grid-column-end: span 2;
	}

	li.large {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}
}

@media screen and (min-width: 640px) {
	ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 860px) {
	ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1100px) {
	ul {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (min-width: 1500px) {
	ul {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media screen and (min-width: 1800px) {
	ul {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media screen and (min-width: 2100px) {
	ul {
		grid-template-columns: repeat(10, 1fr);
	}
}