* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #000;
	color: #FFF;
}

input {
	position: fixed;
	z-index: 10;
	top: 0;
	padding: 20px;
	width: 100%;
	background-color: rgba(40, 40, 40, .8);
	color: inherit;
	border: 0;
	font-size: 1.5em;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(79, 165, 255, 0.50) inset;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #A03;
	font-size: 2em;
	text-align: center;
}